.page {
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 834px;
  min-width: 320px;
  min-height: 1048px;
  margin: auto;
}

 @media screen and (max-width: 767px) {
    .page {
        width: 100%;
        margin: 0;
    }
}

/* * { outline: 1px solid yellow; } */
