.page__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 680px;
    left: 77px;
    right: 77px;
    top: 64px;
    bottom: 160px;
}


@media screen and (max-width: 767px) {
    .page__content {
       max-width: calc(328 / 414 * 100%);
       top: 32px;
       left: 43px;
       right: 43px;
    }
}