.page__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 680px;
    left: 77px;
    right: 77px;
    top: 64px;
    bottom: 160px;

}

@media screen and (max-width: 767px) {
    .page__content {
       width: 280px;
       top: 32px;
       left: 13px;
       right: 13px;
       margin: 0 auto;
    }
}
