.form__input-container {
    display: block;
    width: 300px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 0;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .form__input-container {
       width: 280px;
    }
}
