.password__picture {
    position: absolute;
    object-position: right bottom;
    width: 41%;
    /*height: 50%;*/
    bottom: -30px;
    right: 0;
}

@media screen and (max-width: 767px) {
    .password__picture {
       width: 90%;
       left: 0;
       padding-bottom: 360px;
       bottom: 0;
    }
}
