.form__password {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 3%;
    margin-top: 63px;
    margin-bottom: 5px;
    color: #28293D;
}

@media screen and (max-width: 767px) {
    .form__password {
       margin-top: 280px;
    }
}