.password__button-account {
    width: 210px;
    height: 45px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1C1C28;
    border: 2px solid #02A69B;
    background-color: white;
    border-radius: 4px;
    margin-top: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

@media screen and (max-width: 767px) {
    .password__button-account {
       margin-bottom: 130px;
    }
}
