.header__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    color: #1C1C28;
}

@media screen and (max-width: 767px) {
    .header__title {
       min-width: 280px;
    }
}
