.password__link {
    margin: 28px 0 0 22px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #02A69B;
    text-decoration-style: dashed;
}

@media screen and (max-width: 767px) {
    .password__link {
       margin: 22px 0 0 0
    }
}